# TensorFlow model checkpoints
checkpoint/
*.ckpt

# Python bytecode files
*.pyc
__pycache__/

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Dataset or large files
data/
*.csv
